@using System.Xml.Schema
<div class="container">
    <div class="col-md-4 offset-md-4">
        <h3>Single Player</h3>
        <a href="/game" class="btn btn-primary">Play Now</a>
        
        <h3>Existing Multi Player Games</h3>
        @if (PublicGames == null)
        {
            <span>Loading...</span>
        }
        else
        {
            <ul>
                @foreach (var game in PublicGames)
                {
                    <li><a href="/game/@game.Id">@game.Name (@game.Id)</a></li>
                }
            </ul>
        }

        <h3>New Multi-Player Game</h3>
        <p>Create game.  Wait for others to join.  Once everyone's joined start the game.</p>

        <EditForm Model="NewGame" OnValidSubmit="CreateGame" class="form-inline">
            <InputText id="name" class="form-control col-md-9" type="text" placeholder="Game Name" @bind-Value="NewGame.Name"/>
            <button class="btn btn-primary col-md-3" type="submit">Create</button>
        </EditForm>
    </div>
</div>