$sky-color-top: rgba(65, 160, 204, 1);

.players {
    color: rgba(255,255,255,.1);
}

.player {
    border-bottom: 1px solid rgb(55, 85, 147);
    font-size: 40px;
}

.sky {
    height: 10%;
    background: linear-gradient(0, rgba(245, 250, 250, 1) 0%, $sky-color-top 100%);
    color: white;
}

.water {
    height: 90%;
    background: linear-gradient(0, rgba(49,144,188,1) 0%, rgba(13,89,149,1) 10%, rgba(0,67,137,1) 80%, rgba(55,152,194,1) 100%);
    border-top: 1px solid rgb(19, 60, 92);
}
