@page "/"

<div class="d-flex align-items-center vh-100">
    <div class="col-md-4 offset-md-4">
    @if (MultiPlayer == null)
    {
        <GameMenuComponent OnSelectMultiPlayer="@SelectMultiPlayer" />
    }
    else if (MultiPlayer == true)
    {
        if (Context.Player?.Name == null)
        {
            <PlayerNameComponent OnSetName="@OnSetName" />
        }
        else
        {
            <GamesListComponent />
        }
    }
    </div>
</div>

