<label for="name">What's your name?</label>
<EditForm Model="TempPlayer" OnValidSubmit="SetName" class="form-inline">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="form-group col-md-8">
            <InputText id="name" class="form-control" type="text" placeholder="Name" @bind-Value="TempPlayer.Name" />
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Mkay</button>
        </div>
    </div>
</EditForm>
