.players {
    color: rgba(255,255,255,.1);
    height: 90%;
}

.player {
    border-bottom: 1px solid rgb(55, 85, 147);
    font-size: 40px;
}

.sky {
    height: 10%;
    background: linear-gradient(0, rgba(245, 250, 250, 1) 0%, rgba(65, 160, 204, 1) 100%);
    color: white;
}

.water {
    height: 90%;
    background: linear-gradient(0, rgba(49,144,188,1) 0%, rgba(13,89,149,1) 10%, rgba(0,67,137,1) 80%, rgba(55,152,194,1) 100%);
    border-top: 1px solid rgb(19, 60, 92);
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
}

.shark {
    position: absolute;
    color: white;
}

.shark.swimming {
    left: -140px;
    animation-name: swimmingshark;
    animation-timing-function: linear;
}

.solved {
    transform: scale(0);
    animation-name: solvedshark;
    animation-timing-function: ease-in;
    animation-duration: 400ms;
}

.shark .icon {
    transform: scaleX(-1);
    font-size: 80px;
}

.shark .word {
    font-size: 12px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    font-size: 30px;
    position: relative;
    top: -30px;
}

.letters-done {
    color: rgb(232, 210, 30);
}

.letters-togo {
    color: #DDD;
}

@keyframes swimmingshark {
     from {
         left: -140px;
     }

     to {
         left: 100%;
     }
 }

@keyframes solvedshark {
     from {
         transform: scale(1);
     }

     to {
         transform: scale(0);
     }
 }